:root {
  --bg: #0b0f10;
  --panel: #0f1416;
  --fg: #d1f7c4;
  --muted: #8aa39b;
  --accent: #9aff6b;
  --danger: #ff6b6b;
  --link: #a7f0a7;
  --file: #91adc8;
  --text-shadow: #ff6b6b55;
  --mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;

  /* Scrollbar para Firefox*/
  scrollbar-width: thin; 
  scrollbar-color: var(--muted) var(--panel);
}

/* Scrollbar (Chromium) */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--panel);
}

*::-webkit-scrollbar-thumb {
  background: var(--muted);
  border-radius: 8px;
  border: 2px solid var(--panel); /* borde para efecto “pill” */
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

body {
  margin: 0;
  height: 100%;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    "Helvetica Neue", Arial;
  background: radial-gradient(circle at center, #0b0f10 0%, #121a1c 100%);
  color: var(--fg);
}

/* Fondo para Firefox */
@supports (-moz-appearance: none) {
  body {
    background: linear-gradient(to bottom, var(--bg) 0%, var(--panel) 100%);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
  }
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background: var(--accent);   
  color: var(--bg);        
}
